footer {
  z-index: 1030;
}

.status-icon-svg {
  max-width: 60px;
}

.form-control {
  width: 80px !important;
}
.navbar-brand {
  width : 300px;
}

.navbar-form {
  width: auto;      /* Establece el ancho según el contenido en lugar de expandirse a todo el ancho */
  margin: 0 auto;   /* Centra el elemento horizontalmente */
  display: table;   /* Permite que el margen automático funcione para centrar el elemento */
}

.board {
  background-color: transparent;
  border-collapse: inherit;
  border-top: none;
}

.cell {
  border-top: 1px solid #34748f !important;
  border-left: 1px solid #34748f;
  border-right: 1px solid #34748f;
  background-color: #d9edf7;
  border-bottom: 1px solid #34748f;
  
  text-align: center;
  min-width: 40px;
  position: relative;
  padding: 0;
  margin: 0;

  color: #9cc0c3;
  font-family: 'Arial Bold', sans-serif;
	font-size: 20px;
  font-weight: bold;
}

.cell-hover {
  background-color: #34748f;
}

.cell-header { 
  border-top: transparent !important;
  border-bottom: transparent !important; 
  background-color: transparent;
  text-align: center;
	color: #333;
	font-size: 24px;
  
}

.cell-header-hover {
  background-color: #34748f; 
  color: white;
}



.showBoat.aircraft-carrier {
    background-color: #e74c3c;
    border: 1px solid #e74c3c !important;
}

.showBoat.battleship {
    background-color:  #16a085;
    border: 1px solid #16a085 !important;
}

.showBoat.submarine {
    background-color: #f1c40f;
    border: 1px solid #f1c40f !important;
}

.showBoat.cruiser {
    background-color: #4aa3df;
    border: 1px solid #4aa3df !important;
}

.showBoat.destroyer {
    background-color: #e67e22;
    border: 1px solid #e67e22 !important;
}

#endGameResult {
  font-size: 24px;
}

.text-center {
  text-align: center;
}


@media(min-width:768px){
  .vertical-align {
    display: flex;
    flex-direction: row;
  }

  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
  }

  /**
   *  Do NOT include this part into your stylesheet.
   *  "flex: 1" or "flex-grow: 1" is added to make the inner div
   *  - Which is also a flex-item - take up all the horizontal space
   *  available space inside the flex container (.col-* elements)
   */
  .vertical-align > [class^="col-"] > div,
  .vertical-align > [class*=" col-"] > div {
    /* flex: 1; */
    flex-grow: 1;
  }
}

.marker {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30px;
}

.hit {
  -moz-animation-duration: .3s;
  -ms-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.miss {
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.target {
  -moz-animation-duration: .2s;
  -ms-animation-duration: .2s;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.board {
  -moz-animation-duration: .3s;
  -ms-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.stats {
  -moz-animation-duration: .4s;
  -ms-animation-duration: .4s;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;

  -moz-animation-delay: .2s;
  -ms-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.logo-text {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

.navbar-brand {
  color: #555 !important;
}

.miss-cell {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}


/* Código para versión en escala de grises, printer friendly */

.grayscale .showBoat.aircraft-carrier {
  background-color: #666666; /* Medium Gray */
  border: 1px solid #666666 !important; /* Medium Gray */
}

.grayscale .showBoat.battleship {
  background-color:  #999999; /* Light Gray */
  border: 1px solid #999999 !important; /* Light Gray */
}

.grayscale .showBoat.submarine {
  background-color: #333333; /* Dark Gray */
  border: 1px solid #333333 !important; /* Dark Gray */
}

.grayscale .showBoat.cruiser {
  background-color: #bbbbbb; /* Very Light Gray */
  border: 1px solid #bbbbbb !important; /* Very Light Gray */
}

.grayscale .showBoat.destroyer {
  background-color: #444444; /* Very Dark Gray */
  border: 1px solid #444444 !important; /* Very Dark Gray */
}

.grayscale .cell {
  background-color: #FFFFFF; /* White */
  border: 1px solid #000000 !important; /* Black */
}

.grayscale .cell-hover {
  background-color: #000000;
}

.grayscale .cell-header-hover {
  background-color: #000000;
}

/* estilos para el switch que permite modificar entre grises y color */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px; /* Reducing the height to 2/3 of the original */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px; /* Adding rounded borders */
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px; 
  width: 14px; 
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Making the slider knob round */
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}
